/* Estilo general */
body {
    background-color: #172231;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, sans-serif;
}
.main-box {
    width: 450px;
    text-align: center;
    background-color: #1e2a3a;
}

/* Contenedor principal de formularios */
.form-box {
    width: 450px;
    background-color: #253751;
    color: #ffffff;
    border-radius: 10px;
    padding: 35px;
    box-shadow: 0 6px 14px rgba(0, 0, 0, 0.3);
    text-align: center;
}

/* Títulos */
h1.title {
    color: #ffffffd4;
    margin-bottom: 20px;
}

/* Inputs */
form input {
    width: 100%;
    padding: 12px;
    margin-bottom: 12px;
    border-radius: 6px;
    border: none;
    background-color: #1e2a3a;
    color: white;
}

form input::placeholder {
    color: #a9b7d0;
}

/* Botones */
button {
    width: 100%;
    padding: 12px;
    background-color: #007bff;
    border: none;
    color: #ffffff;
    border-radius: 6px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #0069d9;
}

/* Botón cancelar */
.btn-cancelar {
    background-color: #444;
}

.btn-cancelar:hover {
    background-color: #333;
}

/* Links */
a {
    color: #ffffff;
    text-decoration: none;
}

a:hover {
    color: #007bff;
}