<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Aventón UPA - Inicio</title>

    <!-- Bulma -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css">

    <!-- Tu CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    <div class="box main-box">
        <h1 class="title is-2">Bienvenido a Aventón UPA</h1>
        <p class="subtitle is-5">Selecciona una opción para continuar:</p>
        <div class="buttons is-centered mt-5">
            <a href="{{ url_for('iniciarSesion') }}" class="button is-primary is-medium">
                Iniciar sesión
            </a>
            <a href="{{ url_for('registrarse', tipo='selector') }}" class="button is-primary is-medium">
                Registrarse
            </a>

        </div>
</body>

</html>